{
  "env": {
    "node": true,
    "jest": true,
  },
  "globals": {
    "WORLDBANK": false,
    "worldbank": false,
    "filtrarDataIndicador": false,
    "sortData": false,
    "average": false,
    "filtrarDataPais": false,
  }
}
