*{
  margin:0;
  padding:0;
}
body {
  width: 100%;
  height: 100%;
  font-family: 'Andes Bold', arial;
}
#logotype {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 250px;
    margin: 10 50px;
  }
.container {
  margin-left: 3%;
    padding-bottom: 4%;
    padding-top: 4%;
}
.field-input {
    width:50%;
    height: 20%;
    margin-left: 1%;
    margin-bottom: 150px;
    margin-right: 20px;
  }
.search-input {
  margin-left: 30px;
  width: 50%;
  height: 32px;
  box-sizing: border-box;
  border-radius: 4px;
}
.data-filter {
    margin-left: 56%;
    margin-top: 1em;
  }
#welcome {
  display : block;
}
.menu-1 {
  /*outline: 1px solid yellow;*/
  width: 100%;
  height: auto;
}
.menu-2 {
  /*outline: 1px solid blue;*/
  list-style: none;
  padding: 0;
  margin: 0;
  background: #009FDA;
  line-height: 40px;
  text-align: center;
}
.country {
  /*outline: 1px solid red;*/
  width: 150px;
  display: inline-block;
  text-align: center;
}
.country-links {
  /*outline: 1px solid green;*/
  text-decoration: none;
  display: block;
  color:#fff;
   cursor: pointer;
}
.country-links:hover{
  background: #002244;
}
.ind-space {
  /*padding: 1em 2em;*/
  width: 100%;
  height: 100%;
  background-color: #f5f4f4;
  padding-bottom: 100%;
  }
.ind-title{
  padding-bottom: 20px;
}
.filter-by-year {
padding: 10px 15px;
}
.themes-1 {
  width: 20%;
  height: auto;
  padding-left: 55%;
}
.themes-2 {
  /*outline: 1px solid #002244;*/
  list-style: none;
  padding: 0;
  margin right: 10px;
  background: #f5f4f4;
  line-height: 40px;
  text-align: left;
}
.sub-theme {
/*outline: 1px solid #002244;*/
width: 230px;
padding-left: 30px;
}
.themes-links{
  cursor: pointer;
  text-decoration: none;
  display: block;
  color: #002244;
}
.themes-links:hover {
  color: #009FDA
}
 .text-0, .text-1, .ind-text-1,.ind-text-2, .pie-pagina {
  /*font-family: ;*/
 padding: 3em 1em;
/*  margin top: 20px;
  margin-left: 50px;
  margin-bottom: 20px;
  width: 100%;*/
  /*background-image: image("imagenes/worldmap.png");*/
}
 .third-right, .txt-indicator {
  padding: 10em 1em;
 }
.text-1, .text-0,.ind-text-1,.ind-text-2, .third-right, .txt-indicator .pie-pagina {
  float: left;
  box-sizing: border-box;
}
.text-0 {
  width: 60%;
 font-family: 'Andes Bold', arial;
 font-size: 22px;
 text-shadow: 1px 1px 1px #aaa;
}
.text-1 {
  padding-top: 15em;
  width: 40%;
  height: 250px;
}
.welcome-txt {
  width: 627px;
  height: 197px;
  font-family: Arial;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #333333;
}
.ind-option-1 {
  list-style-type: none;
  list-style: none;
  padding: 0px;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 14px;
  line-height: 22px;
  color: #0071BC;
  display: inline;
}
.ind-option-2 {
  display: inline;
  list-style: none;
  display: inline-block;
  border-right: 1px solid #d4d4d4;
}
.ind-option-3{
  display: inline;
  list-style: none;
  display: inline-block;
}
.ind-option-4{
  display: inline;
  list-style: none;
  display: inline-block;
}
.ind-text-1 {
  width: 60%;
  font-family: 'Andes Bold', arial;
  }
.txt-indicator {
    width: 80%;
    font-family: 'Andes Bold', arial;
    }
.ind-text-2 {
  padding-top: 10em;
  width: 30%;
  height: 250px;
}
.third-right {
  margin-left: 10em;
  width: 20%;
  height: 250px;
}
.worldmap {
  margin-top: -6px;
  margin-left: 15px;
  margin-bottom: 80px;
  width: 1050px;
}
.root-pictures {
  min-height: 100vh;
  margin: 0;
}
.root-item, .root-item-1 {
  width: 600px;
  position: relative;
  margin: auto;
  margin-bottom: 20px;
}
.root-item:before {
  content: '';
  width: 600px;
  height: 171px;
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(rgba(255, 255, 255, 0), black);
}
.root-item-1:before {
  content: '';
  width: 600px;
  height: 171px;
  position: absolute;
  top: 723px;
  right: 0;
  background: linear-gradient(rgba(255, 255, 255, 0), black);
}
.country-pic{
  width: 600px;
  height: 171px;
  display: block;
}
.root-txt {
  position: absolute;
  bottom: 20px;
  left: 13px;
  color: white;
  font-family: arial;
  font-size: 2em;
}
/*.ind-space {
  width: 100%;
  height: 3000px;
  background-color: #f5f4f4;
  padding-bottom: 8em;
}*/
.indicators-list {
  margin-right: 2em;
  padding-top: 1em;
  margin-left: 3em;
  padding-bottom: 2em;
  cursor: pointer;
}
.list-style {
  width: 1020px;
  height: 100%;
  border-radius: 14px;
  box-shadow: inset 1px 1px 4px 0 rgba(0, 0, 0, 0.25), 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
}
/*
.third-right, .txt-indicator {
 padding: 3em 1em;
  float: left;
}
.third-right {
  width: 30%;
  font-family: 'Andes Bold', arial;
  }
.txt-indicator{
  padding-top: 10em;
  width: 70%;
  height: 50%;
}
*/
.ind-status {
  width: 90%;
  display: block;
  box-sizing: border-box;
  padding: 3em;
  padding-top: 5%;
}
.by-year {
  text-align: center;
  height: 25px;
  border-radius: 14px;
  background-color: #ffffff;
  border: 1px;
  box-shadow: inset 1px 1px 4px 0 rgba(0, 0, 0, 0.25), 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}
.inpt-show, .inpt-order {
  width: 133px;
  height: 27px;
  border-radius: 14px;
  background-color: #009fda;
  color: white;
  border: 1px solid #009fda;
}
.select-box{
  height: 25px;
  border-radius: 14px;
  background-color: #ffffff;
  border: 1px;
  box-shadow: inset 1px 1px 4px 0 rgba(0, 0, 0, 0.25), 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}
.list-ind{
  padding-left: 15%;
      padding-right: 15%;
      width: 10%;
      height: 50%;
      border-radius: 14px;
      box-shadow: inset 1px 1px 4px 0 rgba(0, 0, 0, 0.25), 0 2px 4px 0 rgba(0, 0, 0, 0.25);
      background-color: #ffffff;
      margin-left: 55%;
      padding-top: 1%;
      padding-bottom: 1%;
}
.theme-title{
    padding-top: 3em;
    padding-bottom: 10%;
}
.template-style {
  width: 310px;
  height: 248px;
  font-family: Arial;
  font-size: 18px;
  line-height: 0.94;
  color: #333333;
}
.percentage-txt {
  margin-left: 13em;
  text-align: center;
  width: 623px;
  height: 40px;
  font-family: Arial;
  font-size: 15px;
  font-style: italic;
  line-height: 0.94;
  color: #000000;
}
.percentage-id {
  font-weight: bold;
  text-align: center;
}
.pie-pagina{
  width: 100%;
  background-color: #000;
  position: fixed;
  left: 0;
  bottom: 0;
}
/* Pantalla de Ipad 1024px */
@media screen and (max-width: 1024px){
  .menu-1 {
    /*outline: 1px solid yellow;*/
    width: 195%;
    height: auto;
  }
  .welcome-txt {
    width: 800px;
    height: 197px;
  }
  .initial{
   margin-left: 6em;
   width: 160%;
  }
  .pie-pagina{
  width: 190%;
  }
  .ind-space {
  width: 195%;
  padding-bottom: 290%;
}
.ind-status {
  width: 190%;
  }
  .container {
    width: 180%;
  }
  #logotype {
  padding-top: 19px;
  padding-left: 20px;
  padding-right: 15px;
  width: 380px;
  }
  .list-style {
    width: 1090px;
  }
  .percentage-txt {
    margin-left: 25%
  }
  /* Pantalla de iphone 6/7/8 de 375px */
@media screen and (max-width: 400px){
  #logotype {
    margin-left: 7em;
    padding-top: 19px;
    padding-left: 20px;
    padding-right: 15px;
    width: 380px;
  }
  .search-input {
    margin-left: 85px;
    width: 76%;
    margin-top: 2em;
  }
  .data-filter {
    margin-left: 21%;
  }
  .initial {
    margin-left: 4em;
    background-image: url("imagenes/worldmap.png");
    height: 500px; /* Specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
  }
  .menu-1{
        width: 200%;
  }
.text-0 {
 text-align: center;
 width: 90%;
 margin-left: 1em;
}
.worldmap {
 display: none;
}
.text-1 {
 padding-top: 0em;
 text-align: center;
 width: 90%;
 margin-left: 2em;
 margin-bottom: 4em;
}
.pie-pagina {
  margin-top: 220%;
  width: 190%;
  }
.root-pictures {
  margin-left: 1em;
  }
.root-item-1:before {
  top: 523px;
}
.list-style {
    width: 165%;
}
.ind-space{
      width: 198%;
}
.ind-text-2 {
  width: 50%;
  }
.percentage-txt {
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #333333;
}
.third-right {
  margin-left: 4em;
  }
.list-ind {
  padding-left: 19%;
  width: 35%;
    }
