*{
  margin:0;
  padding:0;
}
body {
  width: 100%;
  height: 100%;
  font-family: 'Andes Bold', arial;
}


#logotype {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 250px;
    margin: 10 50px;
  }

.container {
  margin-left: 3%;
    padding-bottom: 4%;
    padding-top: 4%;
}

.field-input {
    width:50%;
    height: 20%;
    margin-left: 1%;
    margin-bottom: 150px;
    margin-right: 20px;
  }

.search-input {
  margin-left: 30px;
  width: 50%;
  height: 27px;
  box-sizing: border-box;
  border-radius: 4px;
}
#welcome {
  display : block;
}
.menu-1 {
  /*outline: 1px solid yellow;*/
  width: 100%;
  height: auto;
}
.menu-2 {
  /*outline: 1px solid blue;*/
  list-style: none;
  padding: 0;
  margin: 0;
  background: #009FDA;
  line-height: 40px;
  text-align: center;
}
.country {
  /*outline: 1px solid red;*/
  width: 150px;
  display: inline-block;
  text-align: center;
}
.country-links {
  /*outline: 1px solid green;*/
  text-decoration: none;
  display: block;
  color:#fff;
}
.country-links:hover{
  background: #002244;
}
#indicators {
  padding: 1em 2em;
}
.ind-title{
  padding-bottom: 20px;
}
.filter-by-year {
padding: 10px 15px;
}
.themes-1 {
  width: 20%;
  height: auto;
  padding-left: 55%;
}
.themes-2 {
  /*outline: 1px solid #002244;*/
  list-style: none;
  padding: 0;
  margin right: 10px;
  background: #fff;
  line-height: 40px;
  text-align: left;
}
.sub-theme {
/*outline: 1px solid #002244;*/
width: 230px;
padding-left: 30px;
}
.themes-links{
  text-decoration: none;
  display: block;
  color: #002244;
}
.themes-links:hover {
  color: #009FDA
}

 .text-0, .text-1, .ind-text-1,.ind-text-2, .pie-pagina {
  /*font-family: ;*/
 padding: 3em 1em;
/*  margin top: 20px;
  margin-left: 50px;
  margin-bottom: 20px;
  width: 100%;*/
  /*background-image: image("imagenes/worldmap.png");*/
}

.text-1, .text-0,.ind-text-1,.ind-text-2, .pie-pagina {
  float: left;
  box-sizing: border-box;
}

.text-0 {
  width: 60%;
 font-family: 'Andes Bold', arial;
 font-size: 22px;
 text-shadow: 1px 1px 1px #aaa;
}

.text-1 {

  padding-top: 15em;
  width: 40%;
  height: 250px;
}

.ind-option-1 {
  list-style: none;
  padding: 0px;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 14px;
  line-height: 22px;
  color: #0071BC;
}
.ind-option-2 {
  list-style: none;
  display: inline-block;
  border-right: 1px solid #d4d4d4;
}
.ind-option-3{
    list-style: none;
      display: inline-block;
}

.ind-text-1 {
  width: 60%;
  font-family: 'Andes Bold', arial;
  }

.ind-text-2{
  padding-top: 10em;
  width: 30%;
  height: 250px;
}

.worldmap {
  margin-top: -6px;
  margin-left: 15px;
  margin-bottom: 80px;
  width: 1050px;
}
.root-pictures {
  min-height: 100vh;
  margin: 0;
}

.root-item, .root-item-1 {
  width: 80%;
  position: relative;
  margin: auto;
  margin-bottom: 20px;
}

.root-item:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(rgba(255, 255, 255, 0), black);
}

.root-item-1:before {
  content: '';
  width: 100%;
  height: 26%;
  position: absolute;
  top: 762px;
  right: 0;
  background: linear-gradient(rgba(255, 255, 255, 0), black);
}

.country-pic{
  width: 100%;
  display: block;
}

.root-txt {
  position: absolute;
  bottom: 20px;
  left: 13px;
  color: white;
  font-family: arial;
  font-size: 2em;
}

.ind-status {
  width: 90%;
  display: block;
  box-sizing: border-box;
  padding: 3em;
  padding-top: 280%;
}

.pie-pagina{
  width: 100%;
  background-color: #000;
  height: 50px;
  height: 60%;
}
  /*
    .field-input {
      text-align: center;
      input {
        text-align: left;
        border-radius: 6rem;
        border: 1px solid rgb(160, 160, 160);
        padding: .6rem 2rem .6rem 1rem;
        width: 12rem;
        font-family: 'roboto';
        transition: .5s;
        &:focus {
          outline: none;
          border-color: #212121;
          transition: .5s;
}*/
